/* fonts */
p {
    font-family: 'Archivo';
    font-size: 30px;
    text-align: center;

    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
}

#scoreBackground {
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%);

    height: 90px;
    width: auto;
}



.visible {
    display: block;
}

.invisible {
    display: none;
}

.homeScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

    background-color: blue;
    height: 500px;
    width: 800px;
}

#startButton, #menuButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    background-color: lavender;
    height: 500px;
    width: 800px;
}

.menuScreen img {
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: fixed;

    top: 200px;
}

.jumpingGameScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-image: url('/assets/cloudBackground.png');
    height: 500px;
    width: 800px;
}

#jumpingCharacter {
    width: 150px;
    height: 150px;
    position: relative;
    top: 500px;
    left: 50px;
    transform: translate(0%, -100%);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#jumpingObstacle1 {
    width: 60px;
    height: 60px;
    background-image: url('/assets/jumpingObstacle1.png');
    background-size: cover;
    position: relative;
    top: 350px;
    left: -10px;
    transform: translate(0%, -100%);
    animation: jumpingObstacleAni 1.2s infinite linear;
}

@keyframes jumpingObstacleAni {
    0%{left: 850px;}
    100%{left: -50px;}
}

@keyframes jumpingCharacterAni {
    0%{top:500px;}
    20%{top:300px;}
    80%{top:300px;}
    100%{top:500px;}
}

.jumpingCharacterAni {
    animation: jumpingCharacterAni 2s linear;
}


.winScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-color: greenyellow;
    height: 500px;
    width: 800px;
}


.collectingGameScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-image: url('/assets/kitchenBackground.png');
    background-size: cover;
    height: 500px;
    width: 800px;
}



#collectingCharacter {
    width: 150px;
    height: 150px;
    background-image: url('/assets/dogBaking.png');
    background-size: cover;
    position: relative;
    top: 500px;
    left: 150px;
    transform: translate(0%, -100%);
}

#collectingObstacle1 {
    width: 60px;
    height: 60px;
    background-image: url('/assets/eggIngredient.png');
    background-size: cover;
    position: relative;
    top: 500px;
    left: 500px;
    transform: translate(0%, -100%);

    animation: collectingObstacleAni 1.5s infinite linear;
}

@keyframes collectingObstacleAni {
    0% {top: -150px};
    100% {top: 500px};
}

.clickDragGameScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-color: blanchedalmond;
    height: 500px;
    width: 800px;
}

#giftBasket {
    width: 300px;
    height: 300px;
    background-color: white;
    position: relative;
    top: 170px;
    left: 100px;
}

#giftItem1, #giftItem2, #giftItem3, #giftItem4, #giftItem5 {
    width: 90px;
    height: 90px;
    position: absolute;
    background-color: pink;
    cursor: not-allowed;
}

#giftItem1 {
    top: 150px;
    left: 560px;
    cursor: grab;

}

#giftItem2 {
    top: 270px;
    left: 560px;
}

#giftItem3 {
    top: 390px;
    left: 560px;
}

#giftItem4 {
    top: 200px;
    left: 670px;
}

#giftItem5 {
    top: 330px;
    left: 670px;
}




.outfitGameScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-color: gainsboro;
    height: 500px;
    width: 800px;
}

#baseCharacter {
    width: 300px;
    height: 400px;
    background-color: white;
    position: fixed;
    top: 250px;
    left: 400px;
    transform: translate(-50%, -50%);
}

#hatSelection {
    width: 300px;
    height: 400px;
    background-color: pink;
    position: fixed;
    top: 250px;
    left: 400px;
    transform: translate(-50%, -50%);
}

#outfitSelection {
    width: 300px;
    height: 400px;
    background-color: floralwhite;
    position: fixed;
    top: 250px;
    left: 400px;
    transform: translate(-50%, -50%);
}

#hatRight, #hatLeft, #outfitRight, #outfitLeft {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#hatRight {
    top: 100px;
    left: 600px;
}

#hatLeft {
    top: 100px;
    left: 200px;
}

#outfitRight {
    top: 300px;
    left: 600px;
}

#outfitLeft {
    top: 300px;
    left: 200px;
}

#outfitFinishButton {
    width: 110px;
    height: 110px;
    background-color: white;
    position: absolute;
    top: 375px;
    left: 675px;
    cursor: pointer;
}