/* fonts */
p {
    font-family: 'Archivo';
    font-size: 20px;
}



.visible {
    display: block;
}

.invisible {
    display: none;
}

.homeScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

    background-color: blue;
    height: 500px;
    width: 800px;
}

#startButton, #menuButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    background-color: lavender;
    height: 500px;
    width: 800px;
}

.menuScreen img {
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: fixed;

    top: 200px;
}

.jumpingGameScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-image: url('/assets/cloudBackground.png');
    height: 500px;
    width: 800px;
}

.jumpingGameScreen p {
    text-align: center;
    vertical-align: top;
}

#jumpingCharacter {
    width: 150px;
    height: 150px;
    position: relative;
    top: 500px;
    left: 50px;
    transform: translate(0%, -100%);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#jumpingObstacle1 {
    width: 60px;
    height: 60px;
    background-image: url('/assets/jumpingObstacle1.png');
    background-size: cover;
    position: relative;
    top: 350px;
    left: -10px;
    transform: translate(0%, -100%);
    animation: jumpingObstacleAni 1.2s infinite linear;
}

@keyframes jumpingObstacleAni {
    0%{left: 850px;}
    100%{left: -50px;}
}

@keyframes jumpingCharacterAni {
    0%{top:500px;}
    20%{top:300px;}
    80%{top:300px;}
    100%{top:500px;}
}

.jumpingCharacterAni {
    animation: jumpingCharacterAni 2s linear;
}


.winScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-color: greenyellow;
    height: 500px;
    width: 800px;
}


.collectingGameScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
    
    background-color: purple;
    height: 500px;
    width: 800px;
}



#collectingCharacter {
    width: 90px;
    height: 90px;
    background-color: white;
    position: relative;
    top: 500px;
    left: 150px;
    transform: translate(0%, -100%);
}

#collectingObstacle1 {
    width: 60px;
    height: 60px;
    background-color: red;
    /* background-image: url('/assets/jumpingObstacle1.png'); */
    background-size: cover;
    position: relative;
    top: 500px;
    left: 500px;
    transform: translate(0%, -100%);

    animation: collectingObstacleAni 1.5s infinite linear;
}

@keyframes collectingObstacleAni {
    0% {top: -150px};
    100% {top: 500px};
}